@model IEnumerable<Album>
@{
    ViewData["Title"] = "AlbumByArtist";
}

<table style="width:50%">
    <thead>
        <tr>
            <th>Title</th>
            <th>AlbumId</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Album e in Model)
        {
            <tr>
                <td>@e.Title</td>
                <td>@e.AlbumId</td>
                
            </tr>
        }
    </tbody>
</table>

